<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" href="/techshop/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />

     <!-- Custom css - Các file css do chúng ta tự viết -->
     <link rel="stylesheet" href="/techshop/assets/frontend/css/style.css" type="text/css" />
    
    <!-- Custom styles for this template -->
    <link href="/techshop/css/modern-business.css" rel="stylesheet">
  
    <title>Shop Minh hà | Nơi mua sắm tuyệt vời 
           
        </title>
        <!-- Block custom-styles - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-styles` -->
        {% block customstyles %}
        {% endblock %}
        <!-- End block custom-styles -->
  </head>
<body background="/techshop/img/background.jpg">
  {{ include('frontend/layouts/includes/header.html.twig') }}
   <!-- end header -->
   <main role="main">
    <!-- Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
    {% block content %}
    {% endblock %}
    <!-- End block content -->
   </main>

  <!-- footer -->
  {{ include('frontend/layouts/includes/footer.html.twig') }}
  <!-- end footer -->

    <!-- Bootstrap core JavaScript -->
    <script src="/techshop/vendor/jquery/jquery.min.js"></script>
    <script src="/techshop/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/techshop/assets/vendor/popperjs/popper.min.js"></script>  
    <script src="/techshop/assets/vendor/jquery/jquery.min.js"></script>  
    <script src="/techshop/assets/vendor/bootstrap/js/bootstrap.min.js"></script>        
    <script src="/techshop/assets/vendor/feather/feather.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="/techshop/assets/frontend/js/app.js"></script>

    <!-- Block custom-scripts - Đục lỗ trên giao diện bố cục chung, đặt tên là `custom-scripts` -->
    {% block customscripts %}
    {% endblock %}
    <!-- End block custom-scripts -->
    </body>
    </html>
    