 <!-- Footer -->
 <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Công Ty TNHH Phát Triển Công Nghệ Minh Hà</p>
    </div>
    <!-- /.container -->
  </footer> 